html, body
{
  background-color: #fff;
  color: #2e2f30;
  font-family: "Source Sans Pro", Arial, sans-serif;
  margin: 0;
}

footer
{
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  border-top: 1px solid #ddd;
}

a, a:hover, a:focus, a:visited
{
  color: #41B883;
}

img {
  max-width: 100%;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
